@import '../../../../variable.scss';

.bg-mega { @include backGround(#f2faff); }
.header-A { background: $blue; }
.header-B { background: $blue-alpha; }

.py-N {
  padding-right: 0.3rem !important;
  padding-left: 0.3rem !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

// Header Memu
.header-menu {
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0px !important;
}

.letter-n-2 { letter-spacing: -2px; }
.i-cartao { margin-right: .5rem !important; }
#hovers:hover { background: rgba(0, 0, 0, 0.25) !important; }

.logo{
  height: 40px;
  margin-top: 10px;
}


@media (max-width: 1024px) {
  .i-cartao {
      margin-right: 0.7rem !important;
      span { font-size: 0.7rem; }
  }
  .header-menu { font-size: 0.7rem; }
}

@media(max-width: 768px) {
  .logo{
      height: 30px;
      margin-top: -7px;
  }
}

@media(max-width: 576px) {
  .logo{
      height: 30px;
      margin-top: -7px;
  }
}
