<section id="conteudo" class="py-5">
    <div class="container">
        <h1 class="b-08 border-bottom pb-1 mb-3 text-left">{{ items.title }}</h1>
        <div class="row ios justify-content-center">
            <div class="view overlay mb-5">
                <div class="mask flex-center rgba-green-slight">
                <p class="white-text">{{ items.title }}</p>
                </div>
            </div>
            <div class="col-lg-8 col-xl-9">
                <img *ngIf="items.full" class="w-100" [src]="items.full" alt="{{ items.title }}" />
                <img *ngIf="!items.full" class="w-100" src="./assets/images/sem-imagem.jpg" alt="{{ items.title }}" />
                <div class="mt-4" [innerHTML]="items.content" id="conteudo"></div>
            </div>
            <div class="col-lg-4 col-xl-3 bg-red">
                <img src="./assets/images/banner_imprensa.jpg" class="img-fluid mb-4" alt="Imprensa">
                <helper-sidebar></helper-sidebar>
            </div>
        </div>
    </div>
</section>
