<section id="imprensa" class="py-4">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-left border-bottom my-5">Notícias</h2>
        <div class="row ios">
            <div class="col-xl-9">
                <section class="my-5">
                    <div class="border-bottom pb-2 mb-3" *ngFor=" let item of items | paginate: { itemsPerPage: ip, currentPage: p, totalItems: header } ">
                        <div class="row ios mt-2">
                            <div class="col-lg-5 col-xl-4">
                                <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                                    <img *ngIf="item.medium" class="w-100" [src]="item.medium" alt="{{ item.title }}" />
                                    <img *ngIf="!item.medium" class="w-100" src="./assets/images/sem-imagem.jpg" alt="{{ item.title }}" />
                                    
                                    <a>
                                        <div class="mask rgba-white-slight" [routerLink]="['/imprensa', item.slug]" routerLinkActive="router-link-active"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xl-8">
                                <a [routerLink]="[item.slug]">
                                    <h3 class="font-weight-bold mb-3 text-muted">
                                        <strong>{{ item.title }}</strong>
                                    </h3>
                                    <p class="text-primary f-09 b-06">
                                        <i class="fas fa-calendar mr-1"></i>
                                        {{ item.date | date: 'dd-MM-yyyy' }}
                                    </p>
                                    <p class="dark-grey-text" [innerHTML]="item.excerpt"></p>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <pagination-controls class="animated fade text-center" (pageChange)="pageChanged($event)"
                    (pageBoundsCorrection)="pageChanged($event)" previousLabel="Anterior" nextLabel="Próximo" responsive="true">
                    </pagination-controls>
                </section>
            </div>
            <div class="col-xl-3">
                <img src="./assets/images/banner_imprensa.jpg" class="img-fluid mb-4" alt="Imprensa">
                <helper-sidebar></helper-sidebar>
            </div>
        </div>
    </div>
</section>
