<section id="single-loja" class="py-5">
    <div class="container">
        <h2 class="b-07 border-bottom pb-1 mb-4">{{ items.title?.rendered }}</h2>
        <div class="row justify-content-center my-4">
            <div class="col-md-4">
                <select class="browser-default custom-select mb-2" (change)="onLoja($event)">
                <option selected value="All">Todas as regiões</option>
                <option [value]="r.id" *ngFor="let r of region">{{ r.name }}</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="browser-default custom-select" (change)="goToLoja($event)">
                <option selected value="All">Todas as lojas</option>
                <option [value]="i.slug" *ngFor="let i of lojas">{{ i.title?.rendered }}</option>
                </select>
            </div>
        </div>
        <div class="row ios mb-5">
            <div class="col-md-6">
                <img [hidden]="!imagem" [src]="imagem" alt="{{ items.title?.rendered }}" class="w-100 mb-4" />
            </div>
            <div class="col-md-6" [innerHTML]="items.content?.rendered"></div>
        </div>
        <div class="row ios mb-3">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="px-3">
                    <h3 class="b-07 pb-1 mb-4 border-bottom">Setores</h3>
                    <mdb-badge primary="true" *ngFor="let sec of setores" class="mr-2 mb-1">
                        {{ sec }}
                    </mdb-badge>
                </div>
            </div>
            <div class="col-md-6" *ngIf="servicos.length > 0">
                <div class="px-3">
                    <h3 class="b-07 pb-1 mb-4 border-bottom">Serviços</h3>
                    <mdb-badge danger="true" *ngFor="let ser of servicos" class="mr-2 mb-1">
                        {{ ser }}
                    </mdb-badge>
                </div>
            </div>
        </div>
        <!-- <div class="row ios mt-4">
            <div class="col-md-12">
                <app-google-map 
                    [lat]="items.lat" 
                    [lng]="items.lng" 
                    [titulo]="items.title?.rendered">
                </app-google-map>
            </div>
        </div> -->
    </div>
</section>
