<div class="list-group">
  <a href="#" class="list-group-item py-2 rounded-0 waves-light f-09" mdbWavesEffect (click)="submenu()">
      {{ titulo }}
      <i class="fas fa-plus float-right" [hidden]="!active"></i>
      <i class="fas fa-minus float-right" [hidden]="active"></i>
  </a>
</div>
<div class="list-group animated" [ngClass]="{
  'fadeOut d-none ': active,
  'fadeInLeft': !active
  }">
  <div *ngFor="let m of menu">
    <a class="list-group-item py-2 subMenu rounded-0 waves-light f-09" mdbWavesEffect *ngIf="!m.external" [routerLink]="[m.url || m.slug]" (click)="toogle()">
      <div *ngIf="m.icon" style="width: 30px !important; display: inline-block; text-align: center;">
        <img [src]="m.icon" height="20px" alt="Compre on-line" />
      </div>
      {{ m.name || m.nome }}
      <i class="fas fa-angle-right float-right"></i>
    </a>
    <a class="list-group-item py-2 subMenu rounded-0 waves-light f-09" mdbWavesEffect *ngIf="m.external" [href]="[m.url || m.slug]" target="_blank" (click)="toogle()">
      <div *ngIf="m.icon" style="width: 30px !important; display: inline-block; text-align: center;">
        <img [src]="m.icon" height="20px" alt="Compre on-line" />
      </div>
      {{ m.name || m.nome }}
      <i class="fas fa-angle-right float-right"></i>
    </a>
  </div>
</div>
