<section id="DetalheProduto" class="py-2 py-md-5" *ngIf="(items | async) as code">
  <ngx-json-ld [json]="schema"></ngx-json-ld>
    <div class="container">
        <mdb-breadcrumb class="mb-5">
            <mdb-breadcrumb-item class="bread blue-text text-uppercase" (click)="br_depart(code['produtos'].dsc_departamento)">
                {{code['produtos'].dsc_departamento}}</mdb-breadcrumb-item>
                <mdb-breadcrumb-item class="blue-text text-uppercase"
                    (click)="br_setor(code['produtos'].dsc_departamento, code['produtos'].dsc_setor)">
                    {{code['produtos'].dsc_setor}} </mdb-breadcrumb-item>
            <mdb-breadcrumb-item class="active text-uppercase">{{code['produtos'].dsc_produto}}</mdb-breadcrumb-item>
        </mdb-breadcrumb>
        <div class="row justify-content-center">
            <div class="col-md-4 col-xl-3">
                <h2 class="b-06 border-bottom pb-1 mb-4 titulo d-md-none">{{ product.dsc_produto }}</h2>
                <div class="p-2">
                    <img appProduct [src]="code['host']" alt="{{product.dsc_produto}}" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-8 col-xl-6">
                <h2 class="b-06 border-bottom pb-1 mb-4 titulo d-none d-md-block">{{ product.dsc_produto }}</h2>
                <div class="">
                    <p class="text-info mb-1 b-07">{{ code['host'] }}</p>
                    <p class="lead b-06 valor_regular text-muted" *ngIf="code['preco_clube']">
                        {{ code['preco_regular'] | currency: "R$":"symbol":"1.2-2":"pt" }}
                        <span style="font-size: .7rem; text-shadow: initial !important;">{{code['produtos'].embalagem }}</span>
                    </p>
                    <p class="">{{ code['produtos'].dsc_descricao }}</p>
                    <div class="pack" *ngIf="code['dsc_kit']">
                      <div>
                        <img src="./assets/images/clube.png" alt="Tag Clube Condor" class="">
                      </div>
                      <div>
                        <p>{{ code['dsc_kit'] }}</p>
                      </div>
                    </div>
                    <p class="legal" *ngIf="code['produtos'].image">* {{code['produtos'].image}}</p>
                    <p class="mt-5 f-09">
                        Oferta válida de
                        {{ code['produtos'].start | date: 'dd/MM/yyyy' }}
                        até
                        {{ code['produtos'].end | date: 'dd/MM/yyyy' }} no <span class="b-08">{{ loja.nome }}</span>
                    </p>
                    <div class="d-md-none" id="precos">
                        <div class="azul" *ngIf="!code['qtd_clube'] && !code['preco_clube']">
                            <h2 class="mt-4" >
                                {{ code['preco_regular'] | currency: "R$":"symbol":"1.2-2":"pt" }}
                                <span>{{code['produtos'].embalagem }}</span></h2>
                        </div>
                        <div class="valor parcelamento">
                            <div class="tag" *ngIf="code['preco_clube']">
                                <img src="./assets/images/clube2.png" alt="Tag Clube Condor" class="mx-auto d-block tag-clube">
                            </div>
                            <div class="laranja" *ngIf="code['qtd_clube']">
                                <p>
                                    <span>{{ code['qtd_clube'] }}x</span> de<br>
                                    <span class="parcela">{{ code['parcela_clube'] | currency: "R$":"symbol":"1.2-2":"pt" }} no cartão Condor</span>
                                </p>
                            </div>
                            <div class="azul" *ngIf="code['qtd_clube'] && code['preco_clube']" [ngClass]="{'radius': !code['preco_cashback'] }">
                                <p>Ou à vista</p>
                                <h2>
                                    {{ code['preco_clube'] | currency: "R$":"symbol":"1.2-2":"pt" }}
                                    <span>{{code['produtos'].embalagem }}</span></h2>
                            </div>
                            <div class="azul" *ngIf="!code['qtd_clube'] && code['preco_clube']" [ngClass]="{'radius': !code['preco_cashback'] }">
                                <h2 class="mt-4">
                                    {{ code['preco_clube'] | currency: "R$":"symbol":"1.2-2":"pt" }}
                                    <span>{{code['produtos'].embalagem }}</span></h2>
                            </div>
                            <div class="ddv" *ngIf="code['preco_cashback']">
                              <div>
                                <img src="./assets/images/selo_ddv.png" alt="Dinheiro de Volta" class="img-fluid">
                              </div>
                              <div>
                                <p class="sll"> recebe de volta <span>
                                  {{ code['preco_cashback'] | currency: "R$":"symbol":"1.2-2":"pt" }}
                                </span></p>
                              </div>
                            </div>
                        </div>
                        <div class="mt-4" *showItBootstrap="['xs', 'sm']">
                            <helper-selector *ngIf="!init" type="alert"></helper-selector>
                            <helper-selector *ngIf="init" type="alert" [load]="true"></helper-selector>
                        </div>
                    </div>
                    <div class="text-center">
                        <a [routerLink]="['/lojas']" mdbBtn color="danger" mdbWavesEffect class="btn-rounded">
                            <h6 class="b-07 mb-0">Compre no Condor mais próximo</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div *showItBootstrap="['md', 'lg', 'xl']">
                    <helper-selector *ngIf="!init" type="alert"></helper-selector>
                    <helper-selector *ngIf="init" type="alert" [load]="true"></helper-selector>
                </div>
                <div id="precos" class="d-none d-md-block">
                    <div class="azul" *ngIf="!code['qtd_clube'] && !code['preco_clube']" [ngClass]="{'radius': !code['preco_cashback'] }">
                        <h2 class="mt-4" >
                            {{ code['preco_regular'] | currency: "R$":"symbol":"1.2-2":"pt" }}
                            <span>{{code['produtos'].embalagem }}</span></h2>
                    </div>
                    <div class="valor parcelamento">
                        <div class="tag" *ngIf="code['preco_clube']">
                            <img src="./assets/images/clube2.png" alt="Tag Clube Condor" class="mx-auto d-block tag-clube">
                        </div>
                        <div class="laranja" *ngIf="code['qtd_clube']">
                            <p>
                                <span>{{ code['qtd_clube'] }}x</span> de<br>
                                <span class="parcela">{{ code['parcela_clube'] | currency: "R$":"symbol":"1.2-2":"pt" }} no cartão Condor</span>
                            </p>
                        </div>


                        <div class="azul" *ngIf="code['qtd_clube'] && code['preco_clube']" [ngClass]="{'radius': !code['preco_cashback'] }">
                          <p>Ou à vista</p>
                          <h2>
                              {{ code['preco_clube'] | currency: "R$":"symbol":"1.2-2":"pt" }}
                              <span>{{code['produtos'].embalagem }}</span></h2>
                      </div>
                      <div class="azul" *ngIf="!code['qtd_clube'] && code['preco_clube']" [ngClass]="{'radius': !code['preco_cashback'] }">
                          <h2 class="mt-4">
                              {{ code['preco_clube'] | currency: "R$":"symbol":"1.2-2":"pt" }}
                              <span>{{code['produtos'].embalagem }}</span></h2>
                      </div>



                        <div class="ddv" *ngIf="code['preco_cashback']">
                          <div>
                            <img src="./assets/images/selo_ddv.png" alt="Dinheiro de Volta" class="img-fluid">
                          </div>
                          <div>
                            <p class="sll"> recebe de volta <span>
                              {{ code['preco_cashback'] | currency: "R$":"symbol":"1.2-2":"pt" }}
                            </span></p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5 px-5 py-4 bg-light rounded">
            <p class="text-justify mb-0 f-08">
                <span class="b-06">*Consultar a disponibilidade do produto nas lojas Condor.</span><br>
                Para melhor atender nossos clientes, não vendemos por atacado e reservamo-nos o direito de limitar a 12 unidades/kg por cliente
                (consumidor) a quantidade dos produtos anunciados. Para o estado do Paraná, essa condição é válida conforme acordo
                (TAC Termo de Ajuste de Conduta) entre PROCON-PR e APRAS.
            </p>
        </div>
    </div>
    <app-ofertas [code]="code['produtos'].departamento" [sector]="code['produtos'].setor" title="Ofertas Relacionadas"
        icon="fas fa-shopping-basket" type="sector">
    </app-ofertas>
</section>
