.price-card {
  width: 100%;
  height: 550px;
  text-align: left;
  float: left;
  margin: 5px;
  position: relative;
  border-radius: 2px;
  background: #f5f6fa;
  background: -moz-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
  background: -webkit-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
  background: linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  &:hover {
    cursor: pointer;
    background: -moz-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
    background: -webkit-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
    background: linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .img-container {
    height: 35%;
    padding: 20px;
    text-align: center;
    min-height: 200px;
    position: relative;
    img{
     max-height: 100%;
     width: auto;
     margin: 0 auto;
    }
    .legal {
        width: 200px;
        top: 205px;
        left: 2px;
        text-align: right;
        position: absolute;
        font-size: .6rem;
        transform-origin: 0 0;
        transform: rotate(-90deg);
    }
    .pack {
      position: absolute;
      right: -5px;
      top: 0px;
      width: 45%;
      background: linear-gradient(29deg, rgba(9, 45, 94, 1) 0%, rgba(5, 107, 220, 1) 100%);
      text-align: center;
      color: #fff;
      padding: 5px;
      display: block;
      align-items: center;
      justify-content: center;
      font-size: .8rem;
      font-weight: 400;
      letter-spacing: -.12px;
      line-height: 1.2;
      box-shadow: 2px 2px 3px #00000040;
      border-radius: 10px;
      img {
        max-width: 60px;
        margin-top: -15px;
      }
    }
    .selo {
      position: absolute;
      width: 150px;
      top: -10px;
      right: -5px
    }
  }
  .card-content {
    width: 100%;
    padding: 10px;
    height: 300px;
    display: -moz-inline-grid;
    display: -webkit-box;
    display: inline-grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: flex-top;
    justify-content: flex-top;
    -webkit-box-align: center;
    align-items: center;
    text-align: left;
    p {
      width: 100%;
      height: 25px;
      font-size: 1rem;
      line-height: 1.1;
      font-weight: 900;
      position: relative;
      margin-bottom: 0rem;
      span {
        font-size: 1.1rem;
        font-weight: 900;
        text-transform: none;
        &.parcela {
          position: relative;
          &::after{
            content: "no cartão Condor";
            position: absolute;
            left: 103%;
            bottom: 1px;
            font-size: 0.7rem;
            width: 62px;
            line-height: 1.1;
            font-weight: 600;
          }
        }
      }
    }
    .description {
      width: 100%;
      height: 35px;
      span {
        display: block;
        font-size: .8rem;
      }
    }
    h2 {
      text-align: left;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 900;
      span {
        font-size: .8rem;
      }
    }
  }
  .ddv {
    background: #37a0cd!important;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    div{
      &:nth-child(1) {
        padding: 10px 10px 10px;
        width: 35%;
      }
      &:nth-child(2) {
        width: 65%;
        padding: 0 5px;
        .sll{
          margin-top: -3px;
          margin-bottom: 0px;
          font-size: .85rem;
          text-align: center;
          font-weight: 700;
          text-transform: uppercase;
          color: #fff;
          span{
            color: #ffdd3d;
            font-weight: 700;
          }
        }
      }
    }
  }
  .laranja *, .azul * { margin: 0; }
  .laranja {
    margin: 15px 0;
    .clube {
      border-radius: 15px;
      box-shadow: 0 10px 15px rgba(249, 144, 25, 0.44), 0 5px 5px rgba(251, 211, 130, 0.22)
    }
    h2 {
      margin-top: -3px;
    }
    .azul{
      h2 {
        margin-top: -3px;
        color: #1a91c6;
      }
    }
  }

  .parcelamento, .sem-parcelamento { width: 100%; }
  .sem-parcelamento { margin-top: 135px; }

  .tag {
    width: 100%;
    text-align: center;
    position: relative;
    margin: -10px 0 -20px 0;
    img {
      max-width: 50%;
      z-index: 2;
    }
    &:before {
      content: "";
      left: 0;
      top: 45%;
      width: 20%;
      height: 1px;
      background: #ff8924;
      position: absolute;
    }
    &:after {
      content: "";
      right: 0;
      top: 45%;
      width: 20%;
      height: 1px;
      background: #ff8924;
      position: absolute;
    }
  }


  .validade {
    font-size: .65rem;
    line-height: 1.1;
    margin-top: 5px;
    text-align: center;
    letter-spacing: 0px;
  }
  .sem-clube { opacity: 0; }

}
@media(max-width: 450px) {
  .price-card {
    width: 100%;
    height: 550px;
    text-align: left;
    float: left;
    margin: 5px;
    position: relative;
    border-radius: 2px;
    background: #f5f6fa;
    background: -moz-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
    background: -webkit-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
    background: linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &:hover {
      cursor: pointer;
      background: -moz-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
      background: -webkit-linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
      background: linear-gradient(20deg, #f0faff 0%, white 50%, white 100%);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .img-container {
      height: 35%;
      padding: 20px;
      text-align: center;
      min-height: 200px;
      position: relative;
      img{
       max-height: 100%;
       width: auto;
       margin: 0 auto;
      }
      .legal {
          width: 200px;
          top: 205px;
          left: 2px;
          text-align: right;
          position: absolute;
          font-size: .6rem;
          transform-origin: 0 0;
          transform: rotate(-90deg);
      }
      .pack {
        position: absolute;
        right: -5px;
        top: 0px;
        width: 45%;
        background: linear-gradient(29deg, rgba(9, 45, 94, 1) 0%, rgba(5, 107, 220, 1) 100%);
        text-align: center;
        color: #fff;
        padding: 5px;
        display: block;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
        font-weight: 400;
        letter-spacing: -.12px;
        line-height: 1.2;
        box-shadow: 2px 2px 3px #00000040;
        border-radius: 10px;
        img {
          max-width: 60px;
          margin-top: -15px;
        }
      }
      .selo {
        position: absolute;
        width: 150px;
        top: -10px;
        right: -5px
      }
    }
    .card-content {
      width: 100%;
      padding: 10px;
      height: 300px;
      display: -moz-inline-grid;
      display: -webkit-box;
      display: inline-grid;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: flex-top;
      justify-content: flex-top;
      -webkit-box-align: center;
      align-items: center;
      text-align: left;
      p {
        width: 100%;
        height: 25px;
        font-size: 1rem;
        line-height: 1.1;
        font-weight: 900;
        position: relative;
        margin-bottom: 0rem;
        span {
          font-size: 1.1rem;
          font-weight: 900;
          text-transform: none;
          &.parcela {
            position: relative;
            &::after{
              content: "no cartão Condor";
              position: absolute;
              left: 103%;
              bottom: 1px;
              font-size: 0.7rem;
              width: 62px;
              line-height: 1.1;
              font-weight: 600;
            }
          }
        }
      }
      .description {
        width: 100%;
        height: 35px;
        span {
          display: block;
          font-size: .8rem;
        }
      }
      h2 {
        text-align: left;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 900;
        span {
          font-size: .8rem;
        }
      }
    }
    .ddv {
      background: #37a0cd!important;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 65px;
      div{
        &:nth-child(1) {
          padding: 10px 5px;
          width: 35%;
        }
        &:nth-child(2) {
          width: 65%;
          padding: 0 5px;
          .sll{
            margin-top: -15px;
            margin-bottom: 0px;
            font-size: .70rem;
            letter-spacing: -1px;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            span{
              letter-spacing: 0px;
              color: #ffdd3d;
              font-weight: 700;
            }
          }
        }
      }
    }
    .laranja *, .azul * { margin: 0; }
    .laranja {
      margin: 15px 0;
      .clube {
        border-radius: 15px;
        box-shadow: 0 10px 15px rgba(249, 144, 25, 0.44), 0 5px 5px rgba(251, 211, 130, 0.22)
      }
      h2 {
        margin-top: -3px;
      }
      .azul{
        h2 {
          margin-top: -3px;
          color: #1a91c6;
        }
      }
    }

    .parcelamento, .sem-parcelamento { width: 100%; }
    .sem-parcelamento { margin-top: 135px; }

    .tag {
      width: 100%;
      text-align: center;
      position: relative;
      margin: -10px 0 -20px 0;
      img {
        max-width: 50%;
        z-index: 2;
      }
      &:before {
        content: "";
        left: 0;
        top: 45%;
        width: 20%;
        height: 1px;
        background: #ff8924;
        position: absolute;
      }
      &:after {
        content: "";
        right: 0;
        top: 45%;
        width: 20%;
        height: 1px;
        background: #ff8924;
        position: absolute;
      }
    }


    .validade {
      font-size: .65rem;
      line-height: 1.1;
      margin-top: 5px;
      text-align: center;
      letter-spacing: 0px;
    }
    .sem-clube { opacity: 0; }

  }
}
