@import '../../../../variable.scss';
.bg-top {
  background: $blue;

}
.bg-loja { background: $red; }
.logo{
    height: 35px;
    width: auto;
}

#loja {
    margin-top: 51px;
    p { font-size: .7rem; font-weight: 700; }
}

.search-btn {
    border: 0px !important;
    background: #fff;
    padding: .5rem 1.5rem;
    font-size: .75rem;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    border-radius: 0rem !important;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: inherit;
}


#mobile{
    margin-top: 0px;
    .sidenav {
        top: 0px;
        width: 80%;
        position: fixed;
        z-index: 10000000000000000000000000000;
        height: 100vh;
        div {
            .menu {
              width: 100%;
                overflow: scroll;
                z-index: 55556;
                background: #e2e2e2;
                height: 100vh;
                .logo-side {
                    height: 30px;
                }
            }
        }
    }
    .backdrop {
      background: rgba(0, 0, 0, 0.65);
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        padding-top: 20px;
        text-align: center;
        height: 100vh;
    }
}



.custom-select {
    border-radius: 0px !important;
    padding: 0.375rem .75rem !important;
    border: 0px !important;
    font-size: .75rem;
    position: relative;
    option{
        position: absolute;
        left: -100px;
        width: 100% !important;
    }
}

.w-30 { width: 30% !important;}

.form-control {
    border-radius: 0px !important;
    border: 0px !important;
    font-size: .85rem;
    border-right: 1px solid #ced4da !important;
}

.input-group {
    border-bottom: 1px solid #ced4da !important;
}

.subMenu {
  color: #fff;
  background: #007bff;
  font-weight: 700;
}
