<header *showItBootstrap="['xs', 'sm']">
  <h4 class="mb-0 py-2 px-3 bg-top fixed-top">
    <a [routerLink]="['/']">
      <span class="float-left mt-1 pr-3" (click)="toogle()">
        <i class="fa fa-bars white-text"></i>
      </span>
      <img src="./assets/images/logo.png" alt="Logo Condor" class="logo img-fluid mx-auto d-block">
    </a>
  </h4>
  <div id="loja" class="bg-loja">
    <helper-selector></helper-selector>
  </div>
  <div class="input-group mb-4" *ngIf="!activeBlog">
    <input #search aria-label="O que você está procurando?" class="form-control input-search rounded-0" placeholder="O que você está procurando?" type="text" (keyup)="getSearch($event)">
    <div class="input-group-prepend w-30">
      <select class="browser-default custom-select" (change)="goToDepartamento($event)">
        <option selected>Departamento</option>
        <option [value]="d.slug" *ngFor="let d of departamento | async">{{ d.nome }}</option>
      </select>
    </div>
  </div>
  <div class="input-group mb-4" *ngIf="activeBlog">
    <input #search aria-label="O que você está procurando?" class="form-control input-search rounded-0" placeholder="O que você está procurando?" type="text" (keyup)="Click($event)">
    <div class="input-group-prepend w-25">
      <select class="browser-default custom-select" (change)="goToCategory($event)">
        <option selected>Categoria</option>
        <option [value]="c.slug" *ngFor="let c of category | async">{{ c.name }}</option>
      </select>
    </div>
  </div>
  <div id="mobile" [ngClass]="{'active': entrada}">
    <div class="sidenav fixed-top" *ngIf="entrada" [@slideInRight]>
      <div class="d-flex flex-row">
        <div class="menu">
          <div class="bg-top p-2">
            <a (click)="toogle()">
              <img src="./assets/images/logo.png" alt="Logo Condor" class="logo mx-auto d-block">
            </a>
          </div>
          <div class="list-group">
            <div *ngFor="let mob of items.menu.mobile" >
              <a rel="noopener noreferrer" class="list-group-item rounded-0 waves-light f-09 w-100" mdbWavesEffect *ngIf="mob.external" [href]="[mob.url]" target="_blank" (click)="toogle()">
                <div *ngIf="mob.icon" style="width: 30px !important; display: inline-block; text-align: center;">
                  <img [src]="mob.icon" height="20px" alt="Compre on-line" />
                </div>
                {{ mob.name }}
                <i class="fas fa-angle-right float-right"></i>
              </a>
              <a class="list-group-item rounded-0 waves-light f-09 w-100" mdbWavesEffect *ngIf="!mob.external" [routerLink]="[mob.url]" (click)="toogle()">
                <div *ngIf="mob.icon" style="width: 30px !important; display: inline-block; text-align: center;">
                  <img [src]="mob.icon" height="20px" alt="Compre on-line" />
                </div>
                {{ mob.name }}
                <i class="fas fa-angle-right float-right"></i>
              </a>
            </div>
          </div>
          <helper-menu-mobile [menu]="items.menu?.clube" titulo="Meu Clube Condor" (fechar)="entrada = $event"></helper-menu-mobile>
          <div class="list-group">
            <a href="#" class="list-group-item py-2 rounded-0 waves-light f-09" mdbWavesEffect (click)="submenu()">
              Departamentos
              <i class="fas fa-plus float-right" [hidden]="!active"></i>
              <i class="fas fa-minus float-right" [hidden]="active"></i>
            </a>
          </div>
          <div class="list-group my-0" [ngClass]="{ 'd-none ': active }">
            <a class="list-group-item subMenu rounded-0 waves-light f-09" mdbWavesEffect *ngFor="let m of ofertas | async"
              [routerLink]="['/departamento', m.slug ]" routerLinkActive="active" (click)="toogle()">
              <mdb-icon fas icon="shopping-basket"></mdb-icon>
              {{ m.nome }}
              <i class="fas fa-angle-right float-right"></i>
            </a>
          </div>
          <helper-menu-mobile [menu]="items.menu?.campanha" titulo="Especiais Condor" (fechar)="entrada = $event"></helper-menu-mobile>
          <helper-menu-mobile [menu]="items.menu?.cliente" titulo="Serviços ao Cliente" (fechar)="entrada = $event"></helper-menu-mobile>
          <helper-menu-mobile [menu]="items.menu?.faleConosco" titulo="Fale Conosco" (fechar)="entrada = $event"></helper-menu-mobile>
          <helper-menu-mobile [menu]="top.institucional?.menu" titulo="Institucional" (fechar)="entrada = $event"></helper-menu-mobile>
          <helper-menu-mobile [menu]="top.acoes?.menu" titulo="Ações Condor" (fechar)="entrada = $event"></helper-menu-mobile>
          <helper-menu-mobile [menu]="top.servicos?.menu" titulo="Serviços financeiro" (fechar)="entrada = $event"></helper-menu-mobile>
          <helper-menu-mobile [menu]="top.empresa?.menu" titulo="Para sua empresa" (fechar)="entrada = $event"></helper-menu-mobile>
        </div>
        <div class="backdrop text-center" (click)="toogle()"></div>
      </div>
    </div>
  </div>
</header>

