<section id="bannerTres" class="py-3 py-md-0">
  <div class="container d-none d-md-block">
    <div class="row ios">
      <div class="col-sm-4 ol-md-4 mb-1">
        <mdb-carousel class="carousel slide carousel-fade z-depth-1" [interval]="2050" [animation]="'fade'"
          [isControls]="false">
          <mdb-carousel-item *ngFor="let l of items?.middleLeft">
            <img appImage [src]="l.full" alt="banner-middle-left" class="img-fluid">
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div class="col-sm-4 col-md-4 mb-1">
        <mdb-carousel class="carousel slide carousel-fade z-depth-1" [interval]="2050" [animation]="'fade'"
          [isControls]="false">
          <mdb-carousel-item *ngFor="let c of items?.middleCenter">
            <img appImage [src]="c.full" alt="banner-middle-center" class="img-fluid">
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div class="col-sm-4 col-md-4 mb-1">
        <mdb-carousel class="carousel slide carousel-fade z-depth-1" [interval]="2050" [animation]="'fade'"
          [isControls]="false">
          <mdb-carousel-item *ngFor="let r of items?.middleRight">
            <img appImage [src]="r.full" alt="banner-middle-right" class="img-fluid">
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div>
  <!-- <div class="container d-md-none">
    <div class="row">
      <div class="col-12">
        <mdb-carousel class="carousel slide carousel-fade z-depth-1" [interval]="3500" [animation]="'false'"
          [isControls]="false">
          <mdb-carousel-item *ngFor="let m of mobile">
            <helper-image [code]="m" idImage="banner-X"></helper-image>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div> -->
</section>
