<main *ngIf="(items | async) as item" [ngClass]="{'noscroll': noscroll}">
  <app-mobile [items]="item" (salida)="noscroll = $event"></app-mobile>
  <app-top [items]="item"></app-top>
  <app-header [items]="item.headers"></app-header>
  <app-menu [items]="item.menu"></app-menu>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
  <app-footer [items]="item.footers"></app-footer>
</main>
<helper-selector *ngIf="init" type="alert" [load]="true"></helper-selector>
