<section id="departamento" class="py-3 py-md-5" *ngIf="(campanha | async) as item">
    <div class="container">
        <div class="d-lg-none">
          <img *ngIf="item['full']" [src]="item['full']" alt="{{ item['title'] }}" class="img-fluid mb-2">
          <h2 *ngIf="!item['full']" class="b-08 text-mute text-center pb-1 border-bottom mb-3"> {{ item['title'] }}</h2>
        </div>
        <div class="row ios justify-content-center">
            <div class="col-lg-4 col-xl-3 bg-red">
                <helper-selector *ngIf="!init" type="alert"></helper-selector>
                <helper-selector *ngIf="init" type="alert" [load]="true"></helper-selector>
                <div class="news mb-4">
                    <ul class="nav flex-column grey lighten-4 py-2 animated fadeIn faster" data-wow-delay=".1">
                        <li class="nav-item" *ngFor="let s of departamento | async" routerLinkActive="active">
                            <a class="nav-link b-07 f-09" (click)="toogle(s.id)">
                                <h6 class="b-07 pb-1 border-bottom">
                                    {{ s.departamento }}
                                    <i class="fas fa-angle-down float-right" *ngIf="s.id !== str"></i>
                                    <i class="fas fa-angle-up float-right" *ngIf="s.id === str"></i>
                                </h6>
                            </a>
                            <!-- <ul class="nav flex-column mb-3" *ngIf="s.id === str">
                                <ng-template ngFor let-sec [ngForOf]="menuSetores">
                                    <li class="nav-item submenu" *ngIf="sec.departamento_id === s.id">
                                        <a
                                            [routerLink]="['/departamento', toSlug(sec.departamento), 'setor', toSlug(sec.nome)]"
                                            class="nav-link submenu b-07 f-09">{{ sec.nome }}</a>
                                    </li>
                                </ng-template>
                            </ul> -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-xl-9">
                <div class="d-none d-lg-block">
                  <img *ngIf="item['full']" [src]="item['full']" alt="{{ item['title'] }}" class="img-fluid mb-2">
                  <h2 *ngIf="!item['full']" class="b-08 text-mute text-center pb-1 border-bottom mb-3"> {{ item['title'] }}</h2>
                </div>
                <!-- <div class="d-flex flex-row grey lighten-4">
                    <div class="w-100 py-2 px-5">
                        <div class="input-group" style="height: 30px !important;">
                            <input type="text" class="form-control" style="height: 30px !important;"
                            placeholder="Procure produtos desta campanhaanha" (change)="busca($event)">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row mt-3">
                    <div class="col-6 col-md-6 col-lg -6 col-xl-4 mb-3"
                        *ngFor="let a of items | async | paginate: { itemsPerPage: 6, currentPage: p }">
                        <helper-product [code]="a"></helper-product>
                    </div>
                </div>
                <div class="mt-5">
                    <pagination-controls class="animated fade text-center mt-5 border-top pt-1"
                        (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo" responsive="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>
