<section id="topHeader" class="sticky-top d-none d-md-block">
    <div id="top-header" class="header-A py-1 d-none d-lg-block">
        <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark ie-nav" [containerInside]="true" >
            <mdb-navbar-brand>
                <i class="fas white-text cursor" [ngClass]="{'fa-times': entrada, 'fa-bars': !entrada}" (click)="active()"></i>
            </mdb-navbar-brand>
            <links>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown mega-dropdown" dropdown style="width: auto!important;" >
                        <a dropdownToggle type="button" class="nav-link py-N header-menu dropdown-toggle waves-light"
                            mdbWavesEffect >
                            <i class="fas fa-briefcase"></i> Institucional
                        </a>
                        <div class="dropdown-menu mega-menu v-2 row justify-content-center z-depth-1 header-B  w-100" >
                            <div class="container-fluid">
                                <div class="w-100 d-flex flex-row justify-content-center mx-md-0 mx-1">
                                    <div class="top-menu  sub-menu my-xl-5 mt-5 mb-3">
                                        <h6 class="mb-3 text-underline" >
                                            <a href="#" class="p-0 sub-title white-text text-uppercase b-08">
                                                {{json.institucional?.title}}</a>
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let a of json.institucional?.menu">
                                                <a *ngIf="a.external" class="p-0 menu-item white-text" [href]="a.url"
                                                rel="noopener" target="_blank"> {{ a.nome }} </a>
                                                <a *ngIf="!a.external" class="p-0 menu-item white-text" [routerLink]="[a.url]" >
                                                    {{ a.nome }} </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="top-menu sub-menu my-xl-5 mt-5 mb-3">
                                        <h6 class="mb-3 text-underline">
                                            <a class="p-0 sub-title white-text text-uppercase b-08" href="#" >{{json.acoes?.title}}</a>
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let a of json.acoes?.menu">
                                                <a *ngIf="a.external" class="p-0 menu-item white-text" [href]="a.url"
                                                rel="noopener" target="_blank"> {{ a.nome }} </a>
                                                <a *ngIf="!a.external" class="p-0 menu-item white-text" [routerLink]="[a.url]" >
                                                {{ a.nome }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="top-menu sub-menu my-xl-5 mt-5 mb-3">
                                        <h6 class="mb-3 text-underline">
                                            <a class="p-0 sub-title white-text text-uppercase b-08" href="#">{{json.servicos?.title}}</a>
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let a of json.servicos?.menu">
                                                <a *ngIf="a.external" class="p-0 menu-item white-text" [href]="a.url"
                                                rel="noopener" target="_blank"> {{ a.nome }} </a>
                                                <a *ngIf="!a.external" class="p-0 menu-item white-text" [routerLink]="[a.url]" >
                                                {{ a.nome }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="top-menu sub-menu my-xl-5 mt-5 mb-1">
                                        <h6 class="mb-3 text-underline">
                                            <a class="p-0  sub-title white-text text-uppercase b-08" href="#">{{json.empresa?.title}}</a>
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let a of json.empresa?.menu">
                                                <a *ngIf="a.external" class="p-0 menu-item white-text" [href]="a.url"
                                                rel="noopener" target="_blank"> {{ a.nome }} </a>
                                                <a *ngIf="!a.external" class="p-0 menu-item white-text" [routerLink]="[a.url]" >
                                                {{ a.nome }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="top-menu sub-menu my-xl-5 mt-5 mb-1">
                                        <h6 class="mb-3 text-underline">
                                            <a class="p-0 sub-title white-text text-uppercase b-08" href="#">{{json.financeiro?.title}}</a>
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let a of json.financeiro?.menu">
                                                <a *ngIf="a.external" class="p-0 menu-item white-text" [href]="a.url"
                                                rel="noopener" target="_blank"> {{ a.nome }} </a>
                                                <a *ngIf="!a.external" class="p-0 menu-item white-text" [routerLink]="[a.url]" >
                                                {{ a.nome }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mega-dropdown" dropdown style="width: auto!important;" >
                        <a dropdownToggle type="button" class="nav-link py-N header-menu dropdown-toggle waves-light"
                            mdbWavesEffect >
                            <i class="fas fa-comments"></i>
                            Fale Conosco<span class="caret"></span>
                        </a>
                        <div class="dropdown-menu mega-menu v-2 row justify-content-center z-depth-1 header-B  w-100" >
                            <div class="container-fluid">
                                <div class="w-100 d-flex flex-row justify-content-center mx-md-0 mx-1">
                                    <div class="w-25 sub-menu mb-4">
                                        <h6 class="p-0 sub-title text-uppercase mt-5 b-08 mb-3 white-text text-underline" >
                                        SAC
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let a of json.sac">
                                                <a class="p-0 menu-item white-text" [href]="a.url" target="_blank" *ngIf="a.external" >
                                                {{ a.nome }}
                                                </a>
                                                <a class="p-0 menu-item white-text" [routerLink]="[a.url]" *ngIf="!a.external" >
                                                {{ a.nome }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="w-25 sub-menu  mb-4">
                                        <h6 class="p-0 sub-title text-uppercase mt-5 b-08 mb-3 white-text text-underline">
                                        trabalhe conoco
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let a of json.trabalhe">
                                                <a class="p-0 menu-item white-text" [href]="a.url" target="_blank" *ngIf="a.external" >
                                                {{ a.nome }}
                                                </a>
                                                <a class="p-0 menu-item white-text" [routerLink]="[a.url]" *ngIf="!a.external" >
                                                {{ a.nome }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="w-25 sub-menu mb-4">
                                        <h6 class="p-0 sub-title text-uppercase mt-5 b-08 mb-3 white-text text-underline" >
                                        disque denúncia
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let a of json.denuncia">
                                                <a class="p-0 menu-item white-text" [href]="a.url" target="_blank" *ngIf="a.external" >
                                                {{ a.nome }}
                                                </a>
                                                <a class="p-0 menu-item white-text" [routerLink]="[a.url]" *ngIf="!a.external" >
                                                {{ a.nome }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="w-25 sub-menu mb-4">
                                        <h6 class="p-0 sub-title text-uppercase mt-5 b-08 mb-3 white-text text-underline" >
                                        fornecedores
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let a of json.fornecedores">
                                                <a class="p-0 menu-item white-text" [href]="a.url" target="_blank" *ngIf="a.external" >
                                                {{ a.nome }}
                                                </a>
                                                <a class="p-0 menu-item white-text" [routerLink]="[a.url]" *ngIf="!a.external" >
                                                {{ a.nome }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item waves-light" *ngFor="let item of json.menu">
                        <a class="nav-link py-N header-menu" [routerLink]="[item.url]" *ngIf="item.inter" >
                            <i class="{{ item.icon }}" *ngIf="item.type === 'font'"></i>
                            <img [src]="item.icon" height="20px" alt="{{ item.name }}" *ngIf="item.type === 'svg'" />
                            {{ item.name }}
                        </a>
                        <a class="nav-link py-N header-menu" href="{{ item.url }}" *ngIf="!item.inter"
                            rel="noopener">
                            <i class="{{ item.icon }}" *ngIf="item.type === 'font'"></i>
                            <img [src]="item.icon" height="20px" alt="{{ item.name }}" *ngIf="item.type === 'svg'" />
                            {{ item.name }}
                        </a>
                    </li>
                    <helper-selector></helper-selector>
                </ul>
            </links>
        </mdb-navbar>
    </div>
</section>
<div class="sidebar pt-2 overflow-auto d-none d-lg-block" [ngClass]="{'open': toogle1}" *ngIf="toogle1">
    <div class="px-5 py-1 text-center">
        <img src="./assets/images/logo.svg" alt="Logo Condor" width="180px" class="img-fluid"/>
    </div>
    <div class="menu pb-5">
        <div class="list-group">
          <div *ngFor="let mob of items.menu.mobile" >
            <a class="list-group-item rounded-0 waves-light f-09 w-100" mdbWavesEffect *ngIf="mob.external" [href]="[mob.url]" target="_blank" (click)="toogle()">
              {{ mob.name }}
              <i class="fas fa-angle-right float-right"></i>
            </a>
            <a class="list-group-item rounded-0 waves-light f-09 w-100" mdbWavesEffect *ngIf="!mob.external" [routerLink]="[mob.url]" (click)="toogle()">
              {{ mob.name }}
              <i class="fas fa-angle-right float-right"></i>
            </a>
          </div>
        </div>
        <helper-menu-mobile [menu]="items.menu?.clube" titulo="Meu Clube Condor" (fechar)="entrada = $event"></helper-menu-mobile>
        <div class="list-group">
          <a href="#" class="list-group-item py-2 rounded-0 waves-light f-09" mdbWavesEffect (click)="submenu2()">
            Departamentos
            <i class="fas fa-plus float-right" [hidden]="!active2"></i>
            <i class="fas fa-minus float-right" [hidden]="active2"></i>
          </a>
        </div>
        <div class="list-group my-0 animated" [ngClass]="{ 'fadeOut d-none ': active2, 'fadeInLeft': !active2 }">
          <p class="m-0" *ngFor="let m of ofertas">
            <a class="list-group-item subMenu rounded-0 waves-light f-09 w-100" *ngIf="!m.campanha"
                [routerLink]="['/departamento', m.slug ]" routerLinkActive="active" (click)="toogle()">
                <mdb-icon fas icon="shopping-basket"></mdb-icon>
                {{ m.nome }}
                <i class="fas fa-angle-right float-right"></i>
            </a>
            <a class="list-group-item rounded-0 waves-light f-09 w-100" *ngIf="m.campanha"
              [routerLink]="[m.slug ]" routerLinkActive="active" (click)="toogle()">
              <mdb-icon fas icon="shopping-basket"></mdb-icon>
              {{ m.nome }}
              <i class="fas fa-angle-right float-right"></i>
          </a>
          </p>
        </div>
        <helper-menu-mobile [menu]="items.menu?.campanha" titulo="Especiais Condor" (fechar)="entrada = $event"></helper-menu-mobile>
        <helper-menu-mobile [menu]="items.menu?.cliente" titulo="Serviços ao Cliente" (fechar)="entrada = $event"></helper-menu-mobile>
        <helper-menu-mobile [menu]="items.menu?.faleConosco" titulo="Fale Conosco" (fechar)="entrada = $event"></helper-menu-mobile>
        <helper-menu-mobile [menu]="json.institucional?.menu" titulo="Institucional" (fechar)="entrada = $event"></helper-menu-mobile>
        <helper-menu-mobile [menu]="json.acoes?.menu" titulo="Ações Condor" (fechar)="entrada = $event"></helper-menu-mobile>
        <helper-menu-mobile [menu]="json.servicos?.menu" titulo="Serviços financeiro" (fechar)="entrada = $event"></helper-menu-mobile>
        <helper-menu-mobile [menu]="json.empresa?.menu" titulo="Para sua empresa" (fechar)="entrada = $event"></helper-menu-mobile>
    </div>
</div>
