<app-carousel [items]="(imagem | async)"></app-carousel>
<app-ofertas *showItBootstrap="['md', 'lg', 'xl']" [code]="dia.code" [title]="dia.titulo" [icon]="dia.icon"
  [link]="dia.link" type="slug">
</app-ofertas>
<helper-faixa type="radar"></helper-faixa>
<div class="container my-2">
  <helper-selector type="alert"></helper-selector>
</div>
<app-ofertas [code]="semana.code" [title]="semana.titulo" [icon]="semana.icon" [link]="semana.link"
  type="slug"></app-ofertas>
<app-ofertas [code]="campanha.code" [title]="campanha.titulo" [icon]="campanha.icon" [link]="campanha.link"
  type="slug"></app-ofertas>
<app-banners [items]="(imagem | async)"></app-banners>
<app-ofertas [code]="geral.code" [title]="geral.titulo" [icon]="geral.icon" [link]="geral.link"
  type="slug"></app-ofertas>
<app-ofertas [code]="eletro.code" [title]="eletro.titulo" [icon]="eletro.icon" [link]="eletro.link"
  type="departamento"></app-ofertas>
<helper-faixa type="clube"></helper-faixa>
<app-post></app-post>
<app-institucional></app-institucional>
