<section id="CarouselSlug" class="py-3">
    <div class="container">
        <helper-titulo [titulo]="title" [icon]="icon" [link]="link"></helper-titulo>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let i of items | async" [id]="i.id">
                <helper-product [code]="i"></helper-product>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
